# lighttable
Cache
GPUCache
Local Storage
SingletonCookie
SingletonLock
SingletonSocket
cookies
cookies-journal
logs
ltcache

# vim
vim/backup
vim/swap
vim/undo
vim/viminfo
vim/tags
vim/bundle/go
vim/.netrwhist
