" disable compatibility mode
set nocompatible

" required by vundle
filetype off

" Vundle!
set rtp+=~/.vim/bundle/vundle/
call vundle#rc()

" let vundle manage vundle
Bundle 'gmarik/vundle'

" Custom bundles
Bundle 'tpope/vim-fugitive'

Bundle 'pangloss/vim-javascript'
Bundle 'digitaltoad/vim-jade.git'
Bundle 'tpope/vim-rails'
Bundle 'wavded/vim-stylus'

Bundle 'wincent/Command-T'

" turn plugin/indent back on
filetype plugin indent on

" Syntax highlighting
syntax on
" set the encoding!
set encoding=utf-8
" backspace over everything
set backspace=indent,eol,start
" show line numbers
set number
" status line
hi User9 ctermfg=LightGray ctermbg=DarkGray
set statusline=%9*\ %y\ (\ %l\ /\ %L\ ):%v\ (%P)\ %F\ %m%=%{fugitive#statusline()}\    

" tabs
set tabstop=4
set softtabstop=4
set shiftwidth=4
set smarttab
set noexpandtab

" search & highlight
set incsearch
set hlsearch
set smartcase
set ignorecase

" change backup directory
if isdirectory($HOME . '/.vim/backup') == 0
	:silent !mkdir -p ~/.vim/backup >/dev/null 2>&1
endif
set backupdir=~/.vim/backup//
set backup

" change swap directory
if isdirectory($HOME . '/.vim/swap') == 0
	:silent !mkdir -p ~/.vim/swap >/dev/null 2>&1
endif
set directory=~/.vim/swap//

" viminfo stores the state of your previous editing session
set viminfo+=n~/.vim/viminfo

" change undo directory
if exists("+undofile")
	if isdirectory($HOME . '/.vim/undo') == 0
		:silent !mkdir -p ~/.vim/undo > /dev/null 2>&1
	endif
	set undodir=~/.vim/undo//
	set undofile
endif

" custom functions

let mapleader = ","

" tabs
map <leader>a :tabnew<cr>
map <leader>c :tabclose<cr>
map <leader>r :tabp<cr>
map <leader>s :tabn<cr>
